.loaderContainer{
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & img{
    width: 10vw;
    animation: rotate 1.7s both infinite;
  }
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to{
    rotate:360deg;
  }
}
@media screen and (width<=576px) {
  .loaderContainer{
  & img {
    width: 40vw;
  }
}
}