#indexContainer{
  padding-top: 20px;
}
.atropos-inner {
  display: flex !important;
  border-radius: 20px;
}

.atropos{
  max-width: 100%;
}
#atroposContainer{
  display: flex;
  justify-content: center;
    .atropos{
    max-width: 700px;
    width: 650px !important;
    aspect-ratio: 5/2.5 !important;
    max-width: 100%;
  }
}
#indexGridsContainer{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  height: 500px;
  #comicsGrid{
    height: auto;
    box-shadow: none;
  }

}
@media screen and (width< 768px) {
  #indexGridsContainer{
   flex-wrap: wrap;    
  }
  #indexGridsContainer{
    height: auto;
  }
}