@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
* {
  margin: 0;
  padding: 0;
}
body{
  /* background-color: #222222 !important; */
  position: relative;
}
#mainContainer{
  z-index: 100;
  padding: 120px 0 350px;
  min-height: 100vh;
}
.active>.page-link, .page-link.active {
  background-color: #5f5f5f !important;
  border-color:  #5f5f5f !important;
}
.disabled>.page-link, .page-link.disabled {
  background-color: #141414 !important;
  color: #3c3c3c !important;
  border-color:  #5f5f5f !important;
}
.page-link {
  background-color: #ffffff2f !important;
  color: #d5d5d5 !important;
  border-color:  #5f5f5f !important;
}
.page-link:hover {
  background-color: #3c3c3c !important;
}
.page-item{
  margin:0 4px;
}
.row{
  margin: 0 !important;
}
footer{
  width: 100%;
  font-family: 'Inter', sans-serif;
  color: white;
  position: absolute;
  bottom: 0;
  background: url('./assets/marvel_footer-bg.webp');
  background-size: cover;
  background-position: top;
  & h5{
    word-break: break-all;
  }
  & a{
    color: gray;
  }
  & img{
    max-height: 200px;
    width: 100%;
    object-fit: cover;
  }
}
#errorDialog{
  max-height: 400px;
  overflow: hidden;
  opacity: .5;
  #rain{
    position: absolute;
    opacity: 0;
  }

}
#pagination{
  font-family: 'Inter', sans-serif;
}
#characterTitle{
  z-index: 100;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
#characterDescription{
  font-family: 'Inter', sans-serif;
  font-weight:900;
  text-wrap: pretty;
}
#badgesContainer {
  margin: 10px 0;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  & span{
    font-family: 'Inter', sans-serif;
    position: relative;

  }
}
.badge{
  z-index: 10;
  background: #242424b8;
  padding: 20px 10px !important;
  display: flex !important;
  flex-direction: column;
  & span{

    font-weight: 400;
  }
}
#comicsInfo{
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  z-index: 1;
  padding: 0;
}
.imgGrids{
  width: 28%;
  aspect-ratio: 1 / 1;
  height: 30%;
  object-fit: fill;
  display: inline;
  margin: 6px;
}
#line{
  flex-grow: 1;
  background: #f4f4f4;
  z-index: 1;
  height: 1px;
}
.imgContainer{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  z-index: 1;
  padding: 0;
  flex-wrap: wrap;
}
#comicsGrid{
  font-family: 'Inter', 'Comic Sans';

  display: block;
  position: relative;
  min-height: 400px;
  display: flex;

  flex-direction: column;
  width: 100%;
  aspect-ratio: 1 / 1.15;

  background-color: #1f1f1fc8;
  border-radius: 50px;
  box-shadow:  0px 0px 12px -1px #1a1a1ac8,
              -0px -0px 12px -1px #242424c8;
  align-content: start;
  border-radius: 5px; 
  & h5{
    height: 60px;
    display:grid;
    place-content: center;
    backdrop-filter: blur(2px);
    bottom: 0%;
    /* height: fit-content; */
  }
  & button:first-child{
    z-index: 10;
    background-color: #21212100;
    border-radius: 3px;
    border: none;
    position: absolute;
    top: 42%;
    left: 3px;
  }
  & button:nth-last-child(2){
    z-index: 10;
    background-color: #21212100;
    border-radius: 3px;
    border: none;
    position: absolute;
    top: 42%;
    right:  3px;
  }
}
#comicsGrid:nth-child(3){
  overflow: auto;
  padding: 0 !important;
  flex-wrap: wrap;
  flex-direction: row !important;
  & button{
    display: none;
  }
  & h5{
    margin: 0;
    background-color: #1414149c;
    height: 75px !important;
  }
}
.storiesContainer{
  padding: 15px 30px;
}

@media screen and (width>=768px) {
  #mainContainer{
    padding-bottom: 150px;
  }
}
@media screen and (width>=992px) {
  footer{
    max-height: 200px;
  }
  #mainContainer{
    padding-bottom: 200px !important;
  }
  #badgesContainer {
    max-width: fit-content ;
    justify-content: start;
  }
  #comicsGrid{
    width: 32.6%;
  }
}

@media screen and (width<=299px) {
  .imgGrids{
    width: 26%;
  }
  #comicsGrid{
    min-height: 250px;
  }
}
html{
  scrollbar-gutter: stable;
}
*::-webkit-scrollbar-thumb{
  background-color: #212121;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover{
  background-color: #323232;
}
*::-webkit-scrollbar{
  background: #141414;
  width: 2vh;
  max-width: 10px;
}